.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.login-card {
  background-color: #1a1a1a;
  padding: 2rem;
  border-radius: 10px;
  width: 320px;
  box-shadow: 0 0 20px rgba(100,108,255,0.4);
  text-align: center;
}

.login-card h2 {
  margin-bottom: 1.5rem;
}

.login-card form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-card input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #444;
  background-color: #242424;
  color: white;
}

.login-card input::placeholder {
  color: #aaa;
}

.login-card button {
  padding: 12px;
  border-radius: 6px;
  border: none;
  background-color: #646cff;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.login-card button:hover {
  background-color: #535bf2;
}

h2{
    color: #aaa;
}